{{>layout/header}}
    <h1> Building Web Service with Spring boot </h1>
    <div class="col-md-12">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">save post</a>
        </div>
    </div>
{{>layout/footer}}